@model AuthApp.Quickstart.Account.RegisterViewModel
@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}

<div class="col-sm-6">
	<div class="card">
		<div class="card-header">
			<h2>Регистрация нового пользователя</h2>
		</div>

		<div class="card-body">
			<form asp-controller="Account" asp-action="Register" method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" asp-for="ReturnUrl" />
				<div>
					<label>Имя</label>
					<input class="form-control" asp-for="Username" />
					<span asp-validation-for="Username"></span>
				</div>
				<div>
					<label>Пароль</label>
					<input class="form-control" asp-for="Password" />
					<span asp-validation-for="Password"></span>
				</div>
				<div class="row">
					<div class="form-group col-md-2">
						<input type="submit" value="Зарегистрироваться" class="btn btn-primary" />
					</div>					
				</div>
			</form>
			<a asp-controller="Account" asp-action="Login"
			   asp-route-returnUrl="@Model?.ReturnUrl??" \"">Вернуться к экрану логина</a>
		</div>
	</div>
</div>