@model RedirectViewModel

<div class="redirect-page">
    <div class="lead">
        <h1>Мы вас сейчас аккуратно вернём к приложению</h1>
        <p>Пристегните ремни, а мы сами закроем эту вкладку.</p>
    </div>
</div>

<meta http-equiv="refresh" content="0;url=@Model.RedirectUrl" data-url="@Model.RedirectUrl">
<script src="~/js/signin-redirect.js"></script>
